body {
	background: gray;
	padding: 40px;
}

input[type="button"] {
	border-radius: 0px !important;
}

input[type=range][orient=vertical] {
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 175px;
    padding: 0 5px;
    display: inline;
}

#sequencer {
	margin-bottom: 40px;
}

#controlButtons {
	margin-top: 20px;
}

#mixingDeskHeadContainer td {
	
}

.channel {
	width: 100px;
}

#muteButtonsContainer,
#soloButtonsContainer,
#gainSliderContainer, {
	width: 100%;
}

.channelElementContainer {
	display: inline;
}

.controlButtonContainer, .paramsContainer {
	width: 100%;
	display: inline;
}

.controlbutton {
	margin-bottom: 5px;
	font-family: 'Oxygen', sans-serif;
	font-size: 16px;
	border: none;
	height: 50px;
	width: 100%;
}

.channelButtonClicked {
	background-color: yellow;
	outline: none;
}

.seqContainer {
	border-top: 1px solid;
	padding-top: 10px;
	padding-bottom: 10px;
}

.seqButton {
	height: 10px;
	width: 5px;
	margin: 2px;
	border: none;
}

.seqNotClicked {
	background-color: #EA66E5;
}

.seqClicked {
	background-color: red;
}
 
button:focus {
	outline: none;
}