#bpmForm {
	display: inline;
}

button:focus {
	outline: none;
}

.channel {
	width: 100px;
	border: 3px solid #77699A;
	text-align: center;
}

.channelButtonClicked {
	background-color: yellow;
	outline: none;
}

#channelsContainer,
#sequencer {
	background-color: #414b73;
}

#channelsContainer, #sequencerChannels {
	color: #FFFFFF;
	margin: 0 auto;
}

.channelElement {
	margin: 10px 0;
	position: relative;
}

.controlButtonClicked {
	background-color: green;
	display: inline;
	font-family: 'Oxygen', sans-serif;
	color: #FFFFFF;
	font-size: 16px;
	border: none;
	padding: 10px;
	height: 50px;
	width: 125px;
	margin: 0 35px;
}

.controlButtonContainer {
	display: inline-block;
	height: 75px;
	width: 200px;
	border: none;
	margin-right: -2px;
	margin-left: -2px;
}

#controlContainer {
	text-align: center;
	margin-bottom: 40px;
}

#clearButtonContainer {
	background-color: #77699A;
}

h1#title {
	background-color: #4F426F;
}

h1#title {
	text-align: center;
	color: #FFFFFF;
	margin: 0;
	padding-top: 20px;
	padding-bottom: 10px;
}

input[class="controlButton"]{
	display: inline;
	width: 30px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

input[type=range][orient=vertical] {
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 175px;
    padding: 0 5px;
    display: inline;
}

#loopButtonContainer {
	background-color: #8A829C;
}

.muteButton, .soloButton {
	width: 30px;
	height: 30px;
	margin-bottom: 10px;
	text-align: center;
	border: 1px solid;
}

/*.muteButton, .soloButton, .controlButton {
	background-color: orange;
}*/

#mixingDesk {
	padding: 40px;
	background-color: #5e6375;
}
 
.paramsContainer, 
.seqChannelNumber {
	display: inline;
}

#playButtonContainer {
	background-color: #4F426F;
}

.seqChannelNumber {
	margin-right: 20px;
}

#sequencer {
	padding: 40px;
}

.seqContainer {
	border-top: 1px solid;
	padding-top: 10px;
	padding-bottom: 10px;
}

.seqButton {
	height: 10px;
	width: 5px;
	margin: 2px;
	border: none;
}

.seqNotClicked {
	background-color: #EA66E5;
}

.seqClicked {
	background-color: red;
}

#stopButtonContainer {
	background-color: #605380;
}