input[type="button"] {
	border-radius: 0px !important;
}

input[type=range][orient=vertical] {
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 175px;
    padding: 0 5px;
    display: inline;
}

#controlButtons {
	margin-top: 20px;
}

.channel {
	width: 100px;
	border: 1px solid;
	text-align: center;
}

.channelElement {
	margin: 10px 0;
	position: relative;
}

.muteButton, .soloButton {
	width: 30px;
	height: 30px;
	margin-bottom: 10px;
	text-align: center;
	border: 1px solid;
}

#mixingDesk {
	padding: 40px;
	background-color: #5e6375;
}

#sequencer {
	padding: 40px;
	background-color: #414b73;
}

#channelsContainer, #controlContainer, #sequencerChannels {
	color: #FFFFFF;
	margin: 0 auto;
}

#channelsContainer {
	background-color: orange;
}

#controlContainer {
	text-align: center;
	padding: 20px 0px;
	margin: 20px auto;
	background-color: #738696;
}

.controlButtonClicked {
	background-color: green;
	font-family: 'Oxygen', sans-serif;
	color: #FFFFFF;
	font-size: 16px;
	border: none;
	padding: 10px;
	height: 50px;
	width: 130px;
	margin-right: 20px;
}

.controlButtonContainer, 
.paramsContainer, 
.seqChannelNumber {
	display: inline;
}

.seqChannelNumber {
	margin-right: 20px;
}

#bpmForm {
	display: inline;
}

input[class="controlButton"]{
	font-family: 'Oxygen', sans-serif;
	color: #FFFFFF;
	font-size: 16px;
	border: none;
	padding: 10px;
	height: 50px;
	width: 130px;
	margin-right: 20px;
}

.channelButtonClicked {
	background-color: yellow;
	outline: none;
}

.seqContainer {
	border-top: 1px solid;
	padding-top: 10px;
	padding-bottom: 10px;
}

.seqButton {
	height: 10px;
	width: 5px;
	margin: 2px;
	border: none;
}

.seqNotClicked {
	background-color: #EA66E5;
}

.seqClicked {
	background-color: red;
}
 
button:focus {
	outline: none;
}